<!DOCTYPE html>
<html>
<head>
  <title>Find A Partner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://findapartner-481df.firebaseapp.com/stylesheets/style.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top"  role="navigation">
	<div class ="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/"><img src="https://i.ibb.co/hYFJ7kL/faplogo.png" alt="faplogo" border="0"></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-main">
			<ul class = "nav navbar-nav navbar-right">
				<li><a class="active" href="/">Home</a></li>
				<li><a href="{% url 'events' %}">Events</a></li>
				<li><a href="{% url 'faqpage' %}">FAQ</a></li>
				<li><a href="{% url 'contactpage' %}">Contact</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
			</ul>
		</div>
		</div>
</nav>

<div id="home">
	<div class ="landing-text">
		<h1> Find a Partner </h1>
		<h3> Build connections on Drexel's Campus</h3>
		<a href="{% url 'signup' %}" class="btn btn-default btn-lg">Get Started</a>
	</div>
</div>

<div class="padding">
<div class="container">
	<div class="row">
		<div class="col-sm-6 text-center">
			<img src="http://lebow.drexel.edu/sites/default/files/LeBowStudentCommunities_0.jpg" width = "505" height = "270">
		</div>
		<div class="col-sm-6 text-center">
			<h2>What is Find a Partner?</h2>
			<p class="lead"> Find a Partner is a website designed to help Drexel students find and create connections as well as friendships. Moving to a new enivornment where you may not have any friends can be difficult. This website allows students to meet and find new friends on campus at any type of event or hangout!</p>
		</div>
</div>
</div>

<div class="padding">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
			<h4>Find Friends of Similar Interests!</h4>
			<p> View profiles of other users to if you share the same interests </p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
			<img src="https://drexel.edu/~/media/Images/now/v2/story-images/2019/January/DUMBBvHartford16_0273.ashx?h=532&la=en&w=800&hash=B506AE411918623F96178BA3793F35BB676B9453" width = "250" height = "250" class="img-responsive">
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
			<h4>Try Something New!</h4>
			<p> Pick and choose from a variety of events on the Events page </p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
			<img src="https://i2.wp.com/developinglafayette.com/wp-content/uploads/2019/04/img_4367.jpg?resize=660%2C400&ssl=1" width = "250" height = "250" class="img-responsive">
		</div>
	</div>
</div>
</div>

<div id="fixed">
</div>

<footer class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-6">
			<h3>Contact Us</h3>
			<br>
			<h4>Contact Info</h4>
		</div>
		<div class="col-sm-6">
			<h3>Connect</h3>
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-instagram"></a>
		</div>
		<div class="col-sm-4">
		</div>
		</div>
</footer>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.0.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
<!-- const firebaseConfig = {
	apiKey: "AIzaSyAZbOA6wyQWoztnIJMa6-Qt8-Q8cSu1E_0",
	authDomain: "findapartner-481df.firebaseapp.com",
	databaseURL: "https://findapartner-481df.firebaseio.com",
	projectId: "findapartner-481df",
	storageBucket: "findapartner-481df.appspot.com",
	messagingSenderId: "1021598929007",
	appId: "1:1021598929007:web:98c73890ca33de46"
  }; -->
</body>
</html>
