
<html>
    <head>
        <title>Find A Partner</title>
        <link type = "text/css" rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link type = "text/css" rel="stylesheet" href = "https://findapartner-481df.firebaseapp.com/stylesheets/app.css">

    </head>
    <body>
        <div class = "ui fixed inverted menu">
            <div class = "ui container">
                <div class = "header item"><i class="users icon"></i>Find A Partner</div>
                <a href = "/" class = "item">Event List</a>
                <a href = "/events/new" class = "item"> New Event</a>
                <a href = "/users" class = "item"> Users</a>
                <a href = "/users/new" class = "item"> New Users</a>
            </div>

        </div>


<div class = "ui main text container">
    <div class = "ui huge header">All Users</div>
    <div class = "ui top attached segment">
        <div class = "ui top divided items">
            
                <div class = "item">
                    <div class = "ui small circular image">
                        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Chimpanzee_%283265647592%29.jpg/1200px-Chimpanzee_%283265647592%29.jpg">
                    </div>
                    <div class = "content">
                        <a class = "header" href = "/users/5cdc5b0a3b50ba06dbd253a3">Uday Jain<a>
                    </div>
                </div>
                
            
            
        </div>
        
    </div>
    
</div>

    </body>
</html>